# Import libraries

In [1]:
import pandas as pd
import os

In [2]:
data_dir = '../data/processed/'

# CSV Table for Jumping class

In [3]:
jumping = pd.DataFrame(os.listdir(data_dir + 'jumping/'), columns=['image'])
jumping['image'] = data_dir + 'jumping/' + jumping['image']
jumping['label'] = 0
jumping.head(10)

                                           image  label
0   ../data/processed/jumping/jump-hdang-196.jpg      0
1     ../data/processed/jumping/jump-hdang-4.jpg      0
2      ../data/processed/jumping/jump-an-261.jpg      0
3     ../data/processed/jumping/jump-tuan-29.jpg      0
4    ../data/processed/jumping/jump-nhan-353.jpg      0
5    ../data/processed/jumping/jump-tuan-263.jpg      0
6   ../data/processed/jumping/jump-hdang-394.jpg      0
7  ../data/processed/jumping/jump-khuong-114.jpg      0
8   ../data/processed/jumping/jump-hdang-323.jpg      0
9     ../data/processed/jumping/jump-minh-37.jpg      0

# CSV Table for Ducking class

In [4]:
ducking = pd.DataFrame(os.listdir(data_dir + 'ducking/'), columns=['image'])
ducking['image'] = data_dir + 'ducking/' + ducking['image']
ducking['label'] = 1
ducking.head(10)

                                           image  label
0   ../data/processed/ducking/duck-hdang-287.jpg      1
1     ../data/processed/ducking/duck-tuan-79.jpg      1
2  ../data/processed/ducking/duck-khuong-243.jpg      1
3  ../data/processed/ducking/duck-khuong-345.jpg      1
4    ../data/processed/ducking/duck-mdang-55.jpg      1
5    ../data/processed/ducking/duck-mdang-97.jpg      1
6      ../data/processed/ducking/duck-an-309.jpg      1
7    ../data/processed/ducking/duck-minh-191.jpg      1
8      ../data/processed/ducking/duck-an-318.jpg      1
9   ../data/processed/ducking/duck-hdang-159.jpg      1

# CSV Table for Running class

In [5]:
running = pd.DataFrame(os.listdir(data_dir + 'running/'), columns=['image'])
running['image'] = data_dir + 'running/' + running['image']
running['label'] = 2
running.head(10)

                                          image  label
0      ../data/processed/running/run-an-283.jpg      2
1   ../data/processed/running/run-mdang-178.jpg      2
2   ../data/processed/running/run-mdang-185.jpg      2
3    ../data/processed/running/run-mdang-64.jpg      2
4  ../data/processed/running/run-khuong-289.jpg      2
5   ../data/processed/running/run-hdang-235.jpg      2
6   ../data/processed/running/run-mdang-244.jpg      2
7    ../data/processed/running/run-nhan-129.jpg      2
8    ../data/processed/running/run-nhan-100.jpg      2
9    ../data/processed/running/run-hdang-99.jpg      2

# Merge into final CSV Table

In [6]:
data = pd.concat((jumping, ducking, running))
data.sample(10)

                                             image  label
190    ../data/processed/ducking/duck-minh-196.jpg      1
742     ../data/processed/jumping/jump-nhan-99.jpg      0
628    ../data/processed/ducking/duck-hdang-90.jpg      1
936    ../data/processed/ducking/duck-hdang-98.jpg      1
903     ../data/processed/running/run-nhan-288.jpg      2
2450   ../data/processed/running/run-hdang-190.jpg      2
2660  ../data/processed/jumping/jump-hdang-187.jpg      0
382    ../data/processed/ducking/duck-minh-309.jpg      1
1981  ../data/processed/running/run-khuong-212.jpg      2
2518    ../data/processed/running/run-mdang-61.jpg      2

In [7]:
data.to_csv('data.csv')